# Environment Variables
.env
.vellum-runtime.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Data
backend/vellum_backend.egg-info/
kubeflow/pipelines/ingestion/build/
kubeflow/pipelines/ingestion/*.egg-info/
data/source_documents/
ollama_data/
test-results/

# OS
.DS_Store
Thumbs.db
data/cache
